@charset "UTF-8";
@font-face {
    font-family: 'cervejaria';
    src: url('fonte/CarnokyType - Zin Serif Demo.otf') format('opentype');
}
body {
    background-color: #323232;
    margin: 0px;
    padding: 0px;
    text-align: center;    
}
header {
    height: 200px;
    margin: 0px;
    text-align: center;    
    background-image: url('imagens/biblioteca.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;    
    background-color: #323232;
}
nav {
    font-family: cervejaria, serif;   
}
a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0px black;
}
.img{
    height: 250px;
    width: 300px;    
    background-size: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: center;  
    margin: auto;
    text-align: center;
    position: relative;       
}
#pratoPrincipal {
    background-image: url('imagens/fracesinha.jpg'); 
}
#panqueca {
    background-image: url('imagens/panqueca.jpg'); 
}
#cocktail {
    background-image: url('imagens/drink.jpg'); 
}
#cerveja {
    background-image: url('imagens/cerveja.jpg'); 
}
h2{
    color: #A68630;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
    font-family: cervejaria;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}
p {
    color: #A68630;
}
.menu{    
    text-shadow: 1px 1px 0px black;
    
    margin: auto;
    text-align: center;  
    padding: 5px;
}
