@charset "UTF-8";
@font-face {
    font-family: 'cervejaria';
    src: url('fonte/CarnokyType - Zin Serif Demo.otf') format('opentype');
}

body{
    height: 98vh;
    background-color: #323232;
    background-image: url('imagens/biblioteca.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25%;
    background-attachment: fixed;
}
header{
    text-align: center;
    margin: 0px;
    
}
img#logo {
    height: 30%;
    width: 30%;
}
nav {
    text-align: center;
    color: white;
}
main {
    text-align: center;
    color: white;
}
div.prato {
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 234px;
    width: 100%;
}
div.prato h2 {
    font-family: 'cervejaria';
    color: #AA8432;
    font-weight: 500;
    text-shadow: 2px 2px 0px black;
    padding-top: 94px;
}
main h3 {
    color: #AA8432;
}

div#entrada {
    background-image: url('imagens/petiscoor.png');
    background-size: cover;
    width: 50%;
}
div#tabua {        
    background-image: url('imagens/tabua.jpg');  
    background-size: cover;
    width: 50%;     
}
div#salada {    
    background-image: url('imagens/salada.jpg');
    background-size: cover;
    width: 50%;    
}
div#tosta {    
    background-image: url('imagens/tosta.jpg');
    background-size: cover;
    width: 50%;    
}
